<div class="container" style="margin-top:70px;">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
</div>

<div class ="container">
        
        <div class="col-sm-">
            <!-- Animal Card-->
            <div *ngFor = "let animal of animal_list | async">
                <div class="card text-white bg-black mb-5" style ="width:30rem; margin: auto">
                    <div class="card-header">
                        Species:<strong>{{animal.Species}}</strong>
                    </div>
                    <div class="card-body">
                        <img [src] = [animal.image] height = "400"> <br>
                        Gender: <strong>{{animal.Gender}}</strong><br>
                        LifeStage: <strong>{{animal.LifeStage}}</strong><br>
                        Locaion: <strong>{{animal.Location}}</strong><br>
                        <!--Delete button-->
                        <button type="delete" class= "btn btn-primary" (click)="onDelete(animal._id)" [routerLink]="['/animals']">Delete</button>  
                    </div>
                    <app-bar></app-bar>
                </div>
                
            </div>
        </div>
</div>


