

<div class="container" style="margin-top:70px;">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
</div>

<div class ="container">
        
        <div class="col-sm-">
            <!-- Animal Card-->
            <div *ngFor = "let animal of animalData">
                <div class="card " style ="padding: 15px; margin: auto">
                    <div class="card-header">
                        Species:<strong>{{animal.Species}}</strong>
                    </div>
                    <div class="card-body">
                        <img [src] = [animal.image] height = "400"> <br>
                        Gender: <strong>{{animal.Gender}}</strong><br>
                        Life Stage: <strong>{{animal.LifeStage}}</strong><br>
                        Locaion: <strong>{{animal.Location}}</strong><br>
                        Upload by: <strong>{{uploaderInfo.username}}</strong><br>
                        
                         
                    </div>


                    <app-bar></app-bar>

                    <div class="col-md-12">
                        <!-- Animal Wiki Information -->
                        <div class="card">
                          <div class="card-header">
                            <h5 class="card-title">Learn more about {{animal.Species}} (source: wikipedia)</h5>
                          </div>
                          <div class="card-body">
                            <div *ngIf="animalSummary; else loading">
                              <p class="card-text">{{ animalSummary.summary }}</p>
                            </div>
                            <ng-template #loading>
                              <p>Loading animal wiki information...</p>
                            </ng-template>
                          </div>
                        </div>
                </div>
                
              
              <br>
              <!--Delete button-->
              <button type="delete" class= "btn btn-primary" (click)="onDelete(animal._id)" [routerLink]="['/animals']">Delete</button> 

            </div>
        </div>
        
</div>


