<div class="container" style="margin-top:65px;">
  
</div>

<!--pagination Buttons top-->
<div class='row'>
    <div class="col-sm-6">
        <button class="btn btn-primary"(click)="previousPage()">Previous</button>
    </div>
    <div class="col-sm-6 text-end">
        <button class="btn btn-primary"(click)="nextPage()">Next</button>
    </div>
</div> 

<!--Aniamls card Group-->
<div class ="container">
    <div class="row">
        <div class="card-group">
            <div  class="col-sm-3" *ngFor = "let animal of animal_list | async">
                <div class="card text-white bg-black mb-3" style ="cursor: pointer" [routerLink]="['/animal', animal._id]">
                    <img [src] = [animal.image] class="card-img-top" height="200">
                    <div class="card-header">
                       Species: {{animal.Species}}
                    </div>
                    <div class="card-body">
                        Gender: {{animal.Gender}}
                    </div>

                </div>
                
            </div>
        </div>
        
    </div>

</div>
<!-- pagination Buttons bottom-->
<div class='row'>
    <div class="col-sm-6">
        <button class="btn btn-primary"(click)="previousPage()">Previous</button>
    </div>
    <div class="col-sm-6 text-end">
        <button class="btn btn-primary"(click)="nextPage()">Next</button>
    </div>
</div> 
