
<ng-container>
    <!--Signup Form-->
    <h2>Enter signup details</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">

    

        <div class="form-group">
            <label for="forename">Forename</label>
            <input type="text" id="forename" forename="forename" 
            class="form-control" formControlName="forename">  
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" id="surname" surname="surname" 
            class="form-control" formControlName="surname">   
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" username="username" 
            class="form-control" formControlName="username">   
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" email="email" 
            class="form-control" formControlName="email">   
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" password="password" 
            class="form-control" formControlName="password">   
        </div>
        <br>

        
        <button  type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Signup</button>

    </form>  
</ng-container>