<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ng-container>
                <!--Upload Form-->
                <h2>Enter upload details</h2>
                <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
                    
                    <div class="form-group">
                        
                        <label for="image">Image - Please enter full file directory (compatible filetypes png/jpg/jpeg)</label>
                        <input type="text" id="image" image="image" [(ngModel)]="image" 
                        class="form-control" formControlName="image">   
                    </div>
                      
                    <div class="form-group">
                        <label for="Gender">Gender</label>
                        <select id="Gender" Gender="Gender" formControlName="Gender" class="form-control">
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>  
                    </div>

                    <div class="form-group">
                        <label for="LifeStage">LifeStage</label>
                        <select id="LifeStage" LifeStage="LifeStage" formControlName="LifeStage" class="form-control" >
                          <option value="Infant">Infant</option>
                          <option value="Adolecent">Adolecent</option>
                          <option value="Adult">Adult</option>
                          <option value="Old">Old</option>
                        </select>  
                    </div>

                    <div class="form-group">
                        <label for="Location">Location</label>
                        <input type="text" id="Location" Location="Location" 
                        class="form-control" formControlName="Location">  
                    </div>
                    <br>
                    
                    <button  type="submit" class="btn btn-primary" [disabled]="!uploadForm.valid">Upload</button>

                </form>  
            </ng-container>
        </div>
    </div>
</div>
